@import "tailwindcss";

@config "../../tailwind.config.ts";

@layer base {
  @font-face {
    font-family: "Acid-Grotesk";
    src: url("/fonts/acid-grotesk-thin.otf") format("opentype");
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: "Acid-Grotesk";
    src: url("/fonts/acid-grotesk-extralight.otf") format("opentype");
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: "Acid-Grotesk";
    src: url("/fonts/acid-grotesk-light.otf") format("opentype");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Acid-Grotesk";
    src: url("/fonts/acid-grotesk-regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Acid-Grotesk";
    src: url("/fonts/acid-grotesk-medium.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Acid-Grotesk";
    src: url("/fonts/acid-grotesk-bold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
  }

  body {
    @apply font-acid-grotesk;
  }
  button {
    cursor: pointer;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

.hero-bg {
  background-image:
    linear-gradient(
      180deg,
      rgba(23, 37, 84, 0.8) 0%,
      rgba(25, 39, 85, 0.8) 11.79%,
      rgba(31, 44, 90, 0.8) 21.38%,
      rgba(39, 52, 96, 0.8) 29.12%,
      rgba(51, 63, 105, 0.8) 35.34%,
      rgba(65, 77, 115, 0.8) 40.37%,
      rgba(81, 92, 127, 0.8) 44.56%,
      rgba(99, 109, 140, 0.8) 48.24%,
      rgba(118, 126, 154, 0.8) 51.76%,
      rgba(138, 145, 169, 0.8) 55.44%,
      rgba(159, 165, 184, 0.8) 59.63%,
      rgba(179, 184, 199, 0.8) 64.66%,
      rgba(200, 203, 214, 0.8) 70.88%,
      rgba(219, 221, 229, 0.8) 78.62%,
      rgba(238, 239, 242, 0.8) 88.21%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url("/images/wavy-white.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size:
    100% 100%,
    cover;
}

/*  Embla Styles */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
