---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="h-[80vh] max-h-[1500px] flex items-center justify-center">
    <p class="text-lg md:text-4xl font-bold -mt-20 text-white">Collective Gains landing page</p>
  </div>
  <script>
    document.body.style.backgroundColor = "#364153"
  </script>
</Layout>
